In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# Import DataFrame

In [4]:
www = pd.read_csv('assessment_ds.csv', encoding='latin1')

In [5]:
www.head()

,Date,Page Title,Age,Gender,Source / Medium,Pageviews,Unique Pageviews
0,20190606,Chrissy Teigen Wore the Pleated-Jean Trend | W...,35-44,female,m.facebook.com / referral,35541,31670
1,20190606,Chrissy Teigen Wore the Pleated-Jean Trend | W...,25-34,female,m.facebook.com / referral,29730,26236
2,20190608,Chrissy Teigen Wore the Pleated-Jean Trend | W...,35-44,female,m.facebook.com / referral,21249,18923
3,20190606,Chrissy Teigen Wore the Pleated-Jean Trend | W...,45-54,female,m.facebook.com / referral,18858,16825
4,20190608,Chrissy Teigen Wore the Pleated-Jean Trend | W...,25-34,female,m.facebook.com / referral,18157,15970